@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
    --bg-dark:#111827;
    --transition:0.4s ease all;
}
body {
    background:var(--bg-dark);
    margin:0;
    padding:0;
 
    .game {
        
        .game-info,
        .game-board {
            margin-right:auto;
            margin-left:auto;
        }
        .game-board {
            gap:2px;

            &:has(.status[data-status="winner-X"]) {
                background:#2563EB;
            }
            &:has(.status[data-status="winner-O"]) {
                background:#EF4444;
            }
            &:has(.status[data-status="draw"]) {
                background:#10B981;
            }

            .square { 
                aspect-ratio:1/1;
                cursor:not-allowed;
                font-size:max(2rem, 5vw);
                -webkit-transition:var(--transition);
                -o-transition:var(--transition);
                transition:var(--transition);

                &.available {
                    cursor:pointer;
                    opacity:0.75;
                    -webkit-transition:var(--transition);
                    -o-transition:var(--transition);
                    transition:var(--transition);

                    &:hover {
                        opacity:1;
                    }
                }
            }

            .status {
                grid-column: 1/-1;
                -webkit-transition:var(--transition);
                -o-transition:var(--transition);
                transition:var(--transition);
            }
        }
        .game-info {
            ol li button {
                -webkit-transition:var(--transition);
                -o-transition:var(--transition);
                transition:var(--transition);
                &:hover {
                    text-indent:4px;
                }
            }
        }
    }
 
}